subscription_id     = "<your-subscription-id>"

location            = "Central India"

resource_group_name = "rg-hosting-reliability-dev"

acr_name            = "your-acr-name"

aks_name            = "aks-hosting-reliability"